{{title}}
{{#extends 'main'}}
{{#block 'title'}}Homepage{{/block}}

{{#block 'body'}}
  <h1>Welcome to the Blog</h1>
  {{#if posts.length}}
    <ul>
      {{#each posts}}
        <li><a href="/post/{{this.id}}">{{this.title}}</a> - {{this.createdAt}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>No posts available</p>
  {{/if}}
{{/block}}
